## Server
PORT=3000
NODE_ENV=development
PUBLIC_BASE_URL=

## MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority

## Session
SESSION_SECRET=change_me_long_random_string

## Google Drive (Service Account) - MUST be base64-encoded JSON string (single line)
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=eyJ0eXBlIjoi...

## Drive sync root folder (optional)
GOOGLE_DRIVE_ROOT_FOLDER_ID=1NTxgFusF0Ne9uMw660mSo3qLj-Ebag_K

